<div style="margin-left: 15px">
    

<HeadingSmall>Actions:</HeadingSmall>
<ul class="govuk-list">
    @ChildContent
</ul>

</div>


@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;
}
