<li>
    <a class="govuk-link" style="white-space: nowrap" href="@Href">@ChildContent</a>
</li>

@code {
    [Parameter, EditorRequired]
    public string Href { get; set; } = default!;

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;
}
