@if (Items != null && Items.Count > 0)
{
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">

            @foreach (var item in Items)
            {
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="@item.Href">@item.Title</a>
                </li>
            }
        </ol>
    </div>
}

@code {
    [Parameter]
    public List<BreadcrumbItem>? Items { get; set; }

}
