@using System.Diagnostics.CodeAnalysis;
@typeparam TItem

<table class="govuk-table">
    @if (!string.IsNullOrWhiteSpace(Caption))
    {
        <caption class="govuk-table__caption govuk-table__caption--m">@Caption</caption>
    }
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        @Header
      
    </tr>
  </thead>
  <tbody class="govuk-table__body">
      @foreach (var item in Items)
            {
                if (RowTemplate is not null)
                {
                    <GovTableRow>
                    @RowTemplate(item)
                    </GovTableRow>
                }
            }
  </tbody>
</table>



@code {
    [Parameter]
    public string? Caption { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment Header { get; set; } 
    
    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }

    [Parameter, AllowNull]
    public IEnumerable<TItem> Items { get; set; }
}
