@inherits LayoutComponentBase

<PageTitle>HomesEngland.AHP</PageTitle>

<MainNavigation></MainNavigation>

<div class="govuk-width-container app-width-container">

   
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                alpha
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>


    <CascadingValue Value="this">


        <Breadcrumbs Items="BreadcrumbItems"></Breadcrumbs>


        <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
            @Body

        </main>

    </CascadingValue>
</div>

@code {

    private List<BreadcrumbItem> BreadcrumbItems { get; set; } = new List<BreadcrumbItem>()
    {

    };

    public void SetBreadcrumbs(List<BreadcrumbItem> breadcrumbs)
    {
        bool sameItems = breadcrumbs.Count == BreadcrumbItems.Count && !breadcrumbs.Except(BreadcrumbItems).Any();
        if (!sameItems)
        {
            BreadcrumbItems.Clear();
            BreadcrumbItems.AddRange(breadcrumbs);
            StateHasChanged();
        }

    }
}