<div style="display: flex">
    <PageHeading Style="flex-grow: 1">Programmes</PageHeading>
    <ActionLinkContainer>
        <ActionLink Href="/programmes/create">Create programme</ActionLink>
    </ActionLinkContainer>
</div>

@code {

}
