<div style="display: flex">
    <PageHeading Style="flex-grow: 1">@Heading</PageHeading>
    <ActionLinkContainer>
        @ActionLinks
    </ActionLinkContainer>
</div>

@code {
    [Parameter, EditorRequired]
    public string Heading { get; set; } = default!;

    [Parameter, EditorRequired]
    public RenderFragment ActionLinks { get; set; } = default!;
}
